* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh; /* Use viewport height for width */
    height: 100vh; /* Use viewport height for height */
    overflow: hidden; /* Hide overflow to avoid large horizontal scroll */
  }
  
  article {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  section {
    width: 100vw; /* Use viewport width for width */
    min-width: 100vh; /* Set minimum width to ensure no horizontal scroll */
    height: 100vh; /* Use viewport height for height */
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotate(90deg); /* Rotate each section */
  }
  
  section:nth-of-type(odd) {
    background: #111;
    color: #fff;
  }
  
  section:nth-of-type(even) {
    background: rgb(63, 27, 27);
    color: #fff;
  }
  