@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --gradient-colors: linear-gradient(135deg, #297fb900, #297fb977, rgba(255, 255, 255, 0));
    background: var(--gradient-colors);
    overflow-x: hidden;
    overflow-y: auto;
  }
  